In [232]:
#Import module, read in the Data
import pandas as pd

datapath = "Resources/purchase_data.csv"
rawdata = pd.read_csv(datapath)

In [233]:
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [234]:
len(pd.unique(rawdata["SN"]))

576

In [235]:
# Needs to be formated (Purchasing Analysis)
purchasesummary = round(rawdata[["Age","Price"]].describe(),2)
uniqueitems = len(pd.unique(rawdata["Item ID"]))
totalsales = round((rawdata["Price"].sum()),2)
averagesale = round(rawdata["Price"].mean(),2)
numsales = (rawdata["Price"].count())
display(purchasesummary)
display(uniqueitems)
display(totalsales)
display(averagesale)
display(numsales)

          Age   Price
count  780.00  780.00
mean    22.71    3.05
std      6.66    1.17
min      7.00    1.00
25%     20.00    1.98
50%     22.00    3.15
75%     25.00    4.08
max     45.00    4.99

179

2379.77

3.05

780

In [236]:
## Gender Demographics
uniqueplayerdata = rawdata.drop_duplicates(subset = "SN",ignore_index =True)

genderdemos=uniqueplayerdata["Gender"].value_counts().to_frame()
genderdemos["Percentage of Players"]= round((genderdemos["Gender"]/sum(genderdemos["Gender"])*100),2)

genderdemos.head()

                       Gender  Percentage of Players
Male                      484                  84.03
Female                     81                  14.06
Other / Non-Disclosed      11                   1.91

In [237]:
 # Purchasing Analysis (Gender)
genderpurchasing = rawdata.groupby("Gender")["Purchase ID"].count().to_frame()
genderpurchasing["Average Price"] = rawdata.groupby("Gender")["Price"].mean().to_frame()
genderpurchasing["Total Sales"] = rawdata.groupby("Gender")["Price"].sum().to_frame()
customermean = rawdata.groupby("SN").agg({"Gender":'first','Price': 'sum'})
genderpurchasing["Average Per Person"] = customermean.groupby("Gender").mean()

display(genderpurchasing)

,Purchase ID,Average Price,Total Sales,Average Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [239]:
# Age Demographics (Need to introduce variable reseting at the start of the cell to prevent errors)
agedata = uniqueplayerdata
print(agedata)
agebins = pd.IntervalIndex.from_tuples([(0,9),(10,14),(15,19),(20,24),(25,29),(30,34),(35,39),(40,200)],closed = "both")
agedata["Age"] = pd.cut(agedata["Age"],agebins)
agedata["Percentage"] = agedata["Age"]
display(agedata.groupby("Age").count())

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
571          773         Hala31   21    Male       19
572          774     Jiskjask80   11    Male       92
573          775     Aethedru70   21  Female       60
574          777     Yathecal72   20    Male       67
575          778        Sisur91    7    Male       92

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
571              Pursuit, Cudgel of Necromancy   1.02
572                               Final Critic   4.19
573                                       Wolf   3.54
574      Celeste, Incarnation of the Corrupted   3.46
575                               Final Critic   4.19

[576 rows x 7 columns]

<ipython-input-239-f24062a8774a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agedata["Age"] = pd.cut(agedata["Age"],agebins)
<ipython-input-239-f24062a8774a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agedata["Percentage"] = agedata["Age"]

           Purchase ID   SN  Gender  Item ID  Item Name  Price  Percentage
Age
[0, 9]              17   17      17       17         17     17          17
[10, 14]            22   22      22       22         22     22          22
[15, 19]           107  107     107      107        107    107         107
[20, 24]           258  258     258      258        258    258         258
[25, 29]            77   77      77       77         77     77          77
[30, 34]            52   52      52       52         52     52          52
[35, 39]            31   31      31       31         31     31          31
[40, 200]           12   12      12       12         12     12          12