In [50]:
#Import module, read in the Data
import pandas as pd

datapath = "Resources/purchase_data.csv"
rawdata = pd.read_csv(datapath)

In [51]:
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [52]:
len(pd.unique(rawdata["SN"]))

576

In [53]:
# Needs to be formated (Purchasing Analysis)
purchasesummary = round(rawdata[["Age","Price"]].describe(),2)
uniqueitems = len(pd.unique(rawdata["Item ID"]))
totalsales = round((rawdata["Price"].sum()),2)
averagesale = round(rawdata["Price"].mean(),2)
numsales = (rawdata["Price"].count())
display(purchasesummary)
display(uniqueitems)
display(totalsales)
display(averagesale)
display(numsales)

          Age   Price
count  780.00  780.00
mean    22.71    3.05
std      6.66    1.17
min      7.00    1.00
25%     20.00    1.98
50%     22.00    3.15
75%     25.00    4.08
max     45.00    4.99

179

2379.77

3.05

780

In [54]:
## Gender Demographics Needs formating
uniqueplayerdata = rawdata.drop_duplicates(subset = "SN",ignore_index =True)

genderdemos=uniqueplayerdata["Gender"].value_counts().to_frame()
genderdemos["Percentage of Players"]= round((genderdemos["Gender"]/sum(genderdemos["Gender"])*100),2)

genderdemos.head()

                       Gender  Percentage of Players
Male                      484                  84.03
Female                     81                  14.06
Other / Non-Disclosed      11                   1.91

In [55]:
 # Purchasing Analysis (Gender)
genderpurchasing = rawdata.groupby("Gender")["Purchase ID"].count().to_frame()
genderpurchasing["Average Price"] = rawdata.groupby("Gender")["Price"].mean().to_frame()
genderpurchasing["Total Sales"] = rawdata.groupby("Gender")["Price"].sum().to_frame()
gendercustomermean = rawdata.groupby("SN").agg({"Gender":'first','Price': 'sum'})
genderpurchasing["Average Per Person"] = gendercustomermean.groupby("Gender").mean()

display(genderpurchasing)

,Purchase ID,Average Price,Total Sales,Average Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [56]:
# Age Demographics (Need to introduce variable reseting at the start of the cell to prevent errors) Need to format, clear temporary dataframes

In [70]:
agedata = uniqueplayerdata
agebins = pd.IntervalIndex.from_tuples([(0,9),(10,14),(15,19),(20,24),(25,29),(30,34),(35,39),(40,200)],closed = "both")
binned_ages_df = pd.cut(agedata["Age"],agebins,ordered = True).to_frame()
agedemographics =binned_ages_df.value_counts().to_frame()
agedemographics["Percent of Players"]=agedemographics.iloc[:,0]/sum(agedemographics.iloc[:,0])
display(agedemographics)

             0  Percent of Players
Age
[20, 24]   258            0.447917
[15, 19]   107            0.185764
[25, 29]    77            0.133681
[30, 34]    52            0.090278
[35, 39]    31            0.053819
[10, 14]    22            0.038194
[0, 9]      17            0.029514
[40, 200]   12            0.020833

In [74]:
agedata.head()
agedemographics.columns

Index([0, 'Percent of Players'], dtype='object')

In [76]:
# Purchasing Analysis (Age) Needs formatting and documentatoin
age_group_stats = rawdata
sliceframe = pd.cut(rawdata["Age"],agebins,ordered = True)
age_group_stats["Age"] = sliceframe
age_group_stats = age_group_stats.groupby("Age").agg({"Purchase ID":'count',"Price":'mean',})
age_group_stats["Total Purchase Value"] = age_group_stats["Purchase ID"] * age_group_stats["Price"]
age_group_stats["Average Total Purchase per Person"] = age_group_stats["Total Purchase Value"]/ agedemographics[0]

age_group_stats.head(10)
#age_analysis = binned_ages_df.groupby().agg({})
#customermean = rawdata.groupby("SN").agg({"Gender":'first','Price': 'sum'})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:2618: RuntimeWarning: '<' not supported between instances of 'tuple' and 'pandas._libs.interval.Interval', sort order is undefined for incomparable objects
  return Index.union(this, other, sort=sort).astype(object, copy=False)

,Purchase ID,Price,Total Purchase Value,Average Total Purchase per Person
Age,,,,
"[0, 9]",23,3.353478,77.13,NaN
"[10, 14]",28,2.956429,82.78,NaN
"[15, 19]",136,3.035956,412.89,NaN
"[20, 24]",365,3.052219,1114.06,NaN
"[25, 29]",101,2.900990,293.00,NaN
"[30, 34]",73,2.931507,214.00,NaN
"[35, 39]",41,3.601707,147.67,NaN
"[40, 200]",13,2.941538,38.24,NaN