In [13]:
#Import module, read in the Data
import pandas as pd

datapath = "Resources/purchase_data.csv"
rawdata = pd.read_csv(datapath)

In [14]:
rawdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
len(pd.unique(rawdata["SN"]))

576

In [36]:
# Needs to be formated (Purchasing Analysis)
purchasesummary = round(rawdata[["Age","Price"]].describe(),2)
uniqueitems = len(pd.unique(rawdata["Item ID"]))
totalsales = round((rawdata["Price"].sum()),2)
averagesale = round(rawdata["Price"].mean(),2)
numsales = (rawdata["Price"].count())
display(purchasesummary)
display(uniqueitems)
display(totalsales)
display(averagesale)
display(numsales)

          Age   Price
count  780.00  780.00
mean    22.71    3.05
std      6.66    1.17
min      7.00    1.00
25%     20.00    1.98
50%     22.00    3.15
75%     25.00    4.08
max     45.00    4.99

179

2379.77

3.05

780

In [34]:
## Gender Demographics
uniqueplayerdata = rawdata.drop_duplicates(subset = "SN",ignore_index =True)

genderdemos=uniqueplayerdata["Gender"].value_counts().to_frame()
genderdemos["Percentage of Players"]= round((genderdemos["Gender"]/sum(genderdemos["Gender"])*100),2)

genderdemos.head()

                       Gender  Percentage of Players
Male                      484                  84.03
Female                     81                  14.06
Other / Non-Disclosed      11                   1.91

In [109]:
 # Purchasing Analysis (Gender)
genderpurchasing = rawdata.groupby("Gender")["Purchase ID"].count().to_frame()
genderpurchasing["Average Price"] = rawdata.groupby("Gender")["Price"].mean().to_frame()
genderpurchasing["Total Sales"] = rawdata.groupby("Gender")["Price"].sum().to_frame()
customermean = rawdata.groupby("SN").agg({"Gender":'first','Price': 'sum'})
genderpurchasing["Average Per Person"] = customermean.groupby("Gender").mean()

display(genderpurchasing)

,Purchase ID,Average Price,Total Sales,Average Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [ ]:
# Age Demographics